<header>
  <h1>my personal calendar</h1>
</header>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="#">Dones</a></li>
  <li role="presentation"><a href="#">Members</a></li>
  <li role="presentation" class="active"><a href="#">Tags</a></li>
  <li role="presentation"><a href="#">Settings</a></li>
</ul><!-- /.nav nav-tabs -->

<div id="tags-container">
  <div class="row">
    <div class="col-md-3">
      <div id="hashtag_details">
        <h2 class="dotted recent-tags-heading">
          Recent tags
        </h2><!-- /.dotted recent-tags-heading -->
        <h2 class="all-tags-heading hide">
          Tags
        </h2><!-- /.all-tags-heading hide -->
        <ul class="list-unstyled">
          <div class="recent-tags">
            <li>
              <a href="#" class="tag_name tag_link" title data-original-title="<strong>#superbowl</strong><p class='text center'><em>(no tag description)</em></p>">#superbowl</a>
            </li>
          </div><!-- /.recent-tags -->
          <div class="recent-tags-show-all">
            <br>
            <p>Showing recent tags only.</p>
            <p>
              <a class="btn btn-primary" id="recent-tags-show-all">
                Show all Tags
              </a>
            </p>
          </div><!-- /.recent-tags-show-all -->
        </ul><!-- /.list-unstyled -->
      </div><!-- /#hashtag_details -->
    </div><!-- /.col-md-3 -->
    <div class="col-md-8 col-md-push-1">
      <div id="feed">
        <h2>No tag selected</h2>
        <p>Please select a tag on the sidebar.</p>
      </div><!-- /#feed -->
    </div><!-- /.col-md-8 col-md-push-1 -->
  </div><!-- /.row -->
</div><!-- /#tags-container -->