<div class="row">
  <div id="team-form-container" class="col-md-8 col-md-offset-2">
    <h1>Send Invitations</h1>
    <p class="lead">
      Invite your collegues to join <strong>Diamond Realtors
      </strong> on Notch.
    </p><!-- /.lead -->
    <form id="team-form">
      <div class="form-group">
        <ul class="list-unstyled">
          <li class="none fl_field">
            <div class="fl_field_wrapper has-success has-feedback">
              <input type="text" placeholder="name@company.com" class="form-control" value="patrick@agentbright.com" />
              <span class="inline-form-validation help-block"></span>
              <span class="fa fa-check form-control-feedback" style="line-height:34px"></span>
            </div><!-- /.fl_field_wrapper has-success has-feedback -->
          </li><!-- /.none fl_field -->
          <li class="none fl_field">
            <div class="fl_field_wrapper">
              <input type="text" placeholder="name@company.com" class="form-control" />
              <span class="inline-form-validation help-block"></span>
              <span class="fa fa-check form-control-feedback" style="line-height:34px;display:none"></span>
            </div><!-- /.fl_field_wrapper -->
          </li><!-- /.none fl_field -->
          <li class="none fl_field">
            <div class="fl_field_wrapper">
              <input type="text" placeholder="name@company.com" class="form-control" />
              <span class="inline-form-validation help-block"></span>
              <span class="fa fa-check form-control-feedback" style="line-height:34px;display:none"></span>
            </div><!-- /.fl_field_wrapper -->
          </li><!-- /.none fl_field -->
          <li class="none fl_field">
            <div class="fl_field_wrapper">
              <input type="text" placeholder="name@company.com" class="form-control" />
              <span class="inline-form-validation help-block"></span>
              <span class="fa fa-check form-control-feedback" style="line-height:34px;display:none"></span>
            </div><!-- /.fl_field_wrapper -->
          </li><!-- /.none fl_field -->
        </ul><!-- /.list-unstyled -->
        <a id="add-invitation" class="btn btn-success btn-sm">
          + Add invitation
        </a>
      </div><!-- /.form-group -->
      <div class="form-group">
        <label>Message</label>
        <textarea name="invite_form-text" id="id_invite_form-text" cols="40" rows="8" class="form-control">
Hi team, let's share and track what we get done every day using Notch!

This will make it very easy for us to stay in sync and build up a record of our team's accomplishments.

Here's how it works: Reply to an evening email reminder with what you did that day. The next day, get a digest with what everyone has done. It's that easy.

If you have any questions, please let me know.
        </textarea>
        <div class="help-block">
          Write a kickoff message for your team. This will help everyone understand how and why they should be using Notch.
        </div><!-- /.help-block -->
      </div><!-- /.form-group -->
      <input type="submit" class="btn btn-primary disable-on-submit" value="Next ➞"/>
    </form><!-- /#team-form -->
    <p>
      If you prefer, you can invite folks to your team later and
      <a href="#">
        skip this step
      </a>
      for now.
    </p>
  </div><!-- /#team-form-container.col-md-8 col-md-offset-2 -->
</div><!-- /.row -->