<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Welcome to Notch</h1>
    <p>You're on your way to creating a team in Notch! The first step is to
       make a user account</p>
     <form id="user-activation" class="row col-sm-8">
       <div class="form-group">
         <label for="id_username">Username</label>
         <input type="text" class="form-control" id="id_username" maxlength="255" name="username" />
         <p class="help-block">
           Your username is how you'll appear to everyone on your team.
         </p><!-- /.help-block -->
       </div><!-- /.form-group -->
       <div class="form-group">
         <label for="id_email_address">Email address</label>
         <input type="text" class="form-control" value="ogradypatrickj@gmail.com" disabled />
         <p class="help-block">
           If you want to switch to a different email address, let us know the
           email address and we'll send you another invite email.
         </p><!-- /.help-block -->
       </div><!-- /.form-group -->
       <div class="form-group">
         <label for="id_password">Password</label>
         <input class="form-control" name="password" type="password" />
         <p class="help-block">
           You'll use your username and password to log in to Notch.
         </p><!-- /.help-block -->
       </div><!-- /.form-group -->
       <div class="form-group">
         <label for="id_timezone_name">Time zone</label>
         <select name="timezone_name" id="id_timezone_name" class="form-control">
           
         </select>
       </div><!-- /.form-group -->
       <input type="submit" class="btn btn-primary disable-on-submit" value="Next ➞"/>
     </form><!-- /#user-activation.row col-sm-8 -->
  </div><!-- /.col-sm-8 col-sm-offset-2 -->
</div><!-- /.row -->