<div class="row">
  <div class="col-sm-3 panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" id="collapseListGroupHeading0">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup0">
            <img src="https://secure.gravatar.com/avatar/e44dabb1c4ff2fb8e68e0dc0706509f6?s=50&amp;d=monsterid" height="20">
            Patrick O'Grady
          </a>
        </h4><!-- /.panel-title -->
      </div><!-- /#collapseListGroupHeading0.panel-heading -->
      <div id="collapseListGroup0" class="panel-collapse collapse">
        <div class="list-group">
          <a href="#" class="list-group-item">Profile</a>
          <a href="#" class="list-group-item">Account</a>
          <a href="#" class="list-group-item">Subscription Center</a>
          <a href="#" class="list-group-item">Emails</a>
          <a href="#" class="list-group-item">Signatures</a>
          <a href="#" class="list-group-item">Export</a>
          <a href="#" class="list-group-item">Authorized Apps</a>
          <a href="#" class="list-group-item">API Token</a>
        </div><!-- /.list-group -->
      </div><!-- /#collapseListGroup0.panel-collapse collapse -->
    </div><!-- /.panel panel-default -->
    <div class="panel panel-default">
      <div class="panel-heading" id="collapseListGroupHeading1">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup1">
            heyogrady personal
          </a>
        </h4><!-- /.panel-title -->
      </div><!-- /#collapseListGroupHeading1.panel-heading -->
      <div id="collapseListGroup1" class="panel-collapse collapse">
        <div class="list-group">
          <a href="#" class="list-group-item">Profile</a>
          <a href="#" class="list-group-item">Plan Details</a>
        </div><!-- /.list-group -->
      </div><!-- /#collapseListGroup1.panel-collapse collapse -->
    </div><!-- /.panel panel-default -->
    <div class="panel panel-default">
      <div class="panel-heading" id="collapseListGroupHeading2">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseListGroup2">
            my personal calendar
          </a>
        </h4><!-- /.panel-title -->
      </div><!-- /#collapseListGroupHeading2.panel-heading -->
      <div id="collapseListGroup2" class="panel-collapse collapse in">
        <div class="list-group">
          <a href="#" class="list-group-item active">Profile</a>
          <a href="#" class="list-group-item">Plan Details</a>
        </div><!-- /.list-group -->
      </div><!-- /#collapseListGroup2.panel-collapse collapse -->
    </div><!-- /.panel panel-default -->
  </div><!-- /#accordion.col-sm-3 panel-group -->
  <div class="col-sm-9">
    <div id="account-settings" class="settings-panel">
      <h2>my personal calendar Profile</h2>
      <h3>Team Name</h3>
      <form id="name-form">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="team-name" value="my personal calendar" class="form-control">
        </div><!-- /.form-group -->
        <input type="submit" value="Save" class="btn btn-primary" data-loading-text="Saving..." data-saved-text="Saved!">
      </form><!-- /#name-form -->
      <hr>
      <h3>Team Email</h3>
      <form id="question-form">
        <div class="form-group">
          <label>Question</label>
          <input type="text" name="team-question" value="What'd you get done today?" class="form-control">
        </div><!-- /.form-group -->
        <input type="submit" value="Save" class="btn btn-primary" data-loading-text="Saving..." data-saved-text="Saved!">
      </form><!-- /#question-form -->
    </div><!-- /#-settings.settings-panel -->
    <div id="member-settings" class="settings-panel">
      
    </div><!-- /#-settings.settings-panel -->
    <div id="plan-settings" class="settings-panel">
      
    </div><!-- /#-settings.settings-panel -->
  </div><!-- /.col-sm-9 -->
</div><!-- /.row -->